.cover-container{
    height: 100vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px black(0,0,0,0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
}


.centro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
    

}

/* .centro > h1 >h2{
    color: white;
    font-size: 45px;

} */





.logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 17px 50px;
    z-index: 1;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: black;
   
}


.header ul {
   
    display: flex;
    align-content: center;
}

.header ul li{
    position: relative;
    list-style: none;
    align-items: center;
    
}

.header ul li a {
    position: relative;
    display:inline-block;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
    color: white;
    text-decoration: none;
    
}


.scrolling{
 
    background-color: black;
    
    z-index: 1000;
}
