 
.about{

    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: rgb(22, 21, 21);
    padding-left: 100px;
    padding-right: 100px;
    color: rgb(255, 255, 255);
    z-index: -1;
}

.headings {

    display: flex;
    justify-content: left;
    font-size: 2.5rem;
    margin-top: 80px;
    margin-left: 86px;
}

.photo1 {
    display: flex; 
    width: 96%;
    margin-bottom: 30px;
    margin-top: 50px;
    padding-left: 85px;
}

.photo2 {
    display: flex; 
    width: 92%;
    margin-bottom: 30px;
    padding-left: 55px;
}

.photo1 img {
    width: 400px;
    height: 400px;
    margin-top: 10px;
}

.photo2 img {
    width: 400px;
    height: 400px;
    margin-top: 20px;
}

.me{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 20px;
    margin-left: 10px;
    margin-right: 40px;
}

.me h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    font-size: 1.3rem;
}

.cardsAbout{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-left: 3em;
    padding-bottom: 2em;
    background-color: rgb(22, 21, 21);
    color: rgb(255, 255, 255);
}

.cardsAbout h2 {
    margin-bottom: 0.5em;
    margin-top: 1em;
    text-align: center;
    font-size: 2.5rem;
}

.card-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin: 0.5em;
    width: 400px;
}

.card-title {
    text-align: center;
    font-size: 1.3em;
    margin-top: 1em;
}

.card-img-top {
    width: 80%;
    height: auto;
}

.subtitulo-estilos {
    text-align: center;
}

.parrafo2{
    margin-top: 5px;    
    padding-left: 100px;
    padding-right: 100px;
}

.hrAbout {
    margin-left: 89px;
    width: 86%;
    background-color:black;
  }


/* Media Queries */
@media (min-width: 320px) and (max-width: 480px){
    /* Titulo, fotos, parrafos */
    .containerAbout {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: auto;
    }

    .about{
        flex-direction: column;
        padding-right: 0%;
        padding-left: 0%;
        width: fit-content;
    }

    .about .headings{
        margin-left: 40px;
    }

    .hrAbout{
        margin-left: 40px;
    }

    .photo1{
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .photo2{
        flex-direction: column-reverse;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: 30px;
        padding-right: 18px;
    }

    .photo1 .me {
        margin-right: 0;
        margin-left: 0;
        padding-left: 0%;
        padding-right: 0%;
    }

    .photo2 .me {
        margin-right: 0;
        margin-left: 0;
        padding-left: 0%;
        padding-right: 0%;
    }

    .about .photo1 .me p {
        overflow: hidden;
        max-height: 300px;
    }

    .about .photo2 .me p {
        overflow: hidden;
        max-height: 300px;
    }

    /* Seccion My Style (Cards) */
    .cardsAbout{
        margin-bottom: 0;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: auto;
    }

    .card-group{
        flex-direction: column;
        padding-left: 78px;
    }

    .card-group .card .card-title{
        padding-right: 70px;
        margin-top: 5px;
        margin-bottom: 2em;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    /* Titulo, fotos, parrafos */
    .containerAbout {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: auto;
    }

    .about{
        flex-direction: column;
        padding-right: 0%;
        padding-left: 0%;
        width: fit-content;
    }

    .about .headings{
        margin-left: 120px;
    }

    .hrAbout{
        margin-left: 120px;
    }

    .photo1{
        margin-left: 35px;
        padding-right: 40px;
    }

    .about .photo1 .me {
    padding-top: 45px;
    }

    .photo2{
        margin-left: 35px;
        padding-right: 40px;
    }

    .about .photo2 .me {
    padding-top: 60px;
    }
     /* Seccion My Style (Cards) */
    .cardsAbout{
        margin-bottom: 0;
        margin-left: 0%;
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: auto;
    }

    .card-group {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .cardsAbout .card .card-img-top{
        padding-left: 80px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .containerAbout {
        display: flex;
        flex-direction: column;
        width: fit-content;
        height: auto;
    }

    .about{
        flex-direction: column;
        padding-right: 0%;
        padding-left: 0%;
        width: fit-content;
    }

    .about .headings{
        margin-left: 120px;
    }

    .hrAbout{
        margin-left: 120px;
    }

    .photo1{
        margin-left: 35px;
        padding-right: 40px;
    }

    .about .photo1 .me {
    padding-top: 45px;
    }

    .photo2{
        margin-left: 35px;
        padding-right: 40px;
    }

    .about .photo2 .me {
    padding-top: 60px;
    }

         /* Seccion My Style (Cards) */
         .cardsAbout{
            margin-bottom: 0;
            margin-left: 0%;
            display: flex;
            flex-direction: column;
            width: fit-content;
            height: auto;
        }
    
        .card-group {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    
        .cardsAbout .card .card-img-top{
            padding-left: 80px;
        }
}









  
  
  
  
  