.containerPortfolio{
    margin-top: 6em;
    padding-top: 2.5em;
    background-color: rgb(22, 21, 21);
    color: rgb(245, 229, 229);
    height: fit-content;
}

.textoPortafolio{
    padding-bottom: 3em;
}
.textoPortafolio >  h2 {
    text-align: center;
    font-size: 2.5rem;
}

.textoPortafolio > p {
    text-align: center;
    font-size: 0.99rem;
    
}

a{
    color: white;
}

.loader{
    background-color: rgb(22, 21, 21);
    height: 890px;
    display: flex;
    justify-content: center;
    

   

}
